<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Who's getting <%=h @item %></title>
		<%= stylesheet_link_tag('style') %>
		<%= javascript_include_tag(:all, :cache => false) %>
		<meta name="description" content="This will help you decide who is getting lunch!"/>
    <meta name="keywords" content="lunch, getting, decide, generator, pick, choose"/>
    
	</head>
		<body class="<%= controller_name %> <%= action_name %> <%= controller_name %>_<%= action_name %>">
		<div id="wrap">
			
			<header>
				<h1>Who is getting <%=h @item %>?</h1>
			</header>
			
			<div id="main">
			
				<%= yield %>
				
			</div>
			<footer>
				<p>&copy; 2009 - <%= link_to '80beans', 'http://80beans.com'%> - <%= link_to 'API', page_path('api')%> - <%= link_to 'Campfire bot', 'http://gist.github.com/232853'%></p>
		</footer>
	</body>
</html>